#lightbox.modal
  .modal-header
    %h3 Modal Heading
    = link_to "×", "#", :class => "close"
  .modal-body
    %p One fine body...
  .modal-footer
    = link_to "Primary", "#", :class => "btn primary"
    = link_to "Secondary", "#", :class => "btn secondary"