.popover-wrapper{:style => "display:none"}
  .popover
    .arrow
    .inner
      %h3.title Popover Title
      .content
        %p Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.